@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Static/Css/layout.css" rel="stylesheet" />
    <link href="~/Static/bootmetro/css/min/bootmetro.min.css" rel="stylesheet" />
    <link href="~/Static/bootmetro/css/min/bootmetro-ui-light.min.css" rel="stylesheet" />
    <link href="~/Static/bootmetro/css/min/bootmetro-responsive.min.css" rel="stylesheet" />
    <link href="~/Static/bootmetro/css/min/bootmetro-icons.min.css" rel="stylesheet" />
    <script src="~/Static/Js/jquery-2.1.4.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootstrap.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootmetro.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootmetro-pivot.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootmetro-panorama.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootmetro-icons-ie7.min.js"></script>
    <script src="~/Static/bootmetro/js/min/bootmetro-charms.min.js"></script>
</head>
<body>
    <!--顶条-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            VMM Manager
            <div>
                @if (ViewBag.user != null)
                {
                    Manager.Model.User user = ViewBag.user as Manager.Model.User;
                    <div id="userInfo">
                        <button class="win-command" rel="tootlip" title="Simple command with only an icon">
                            <span class="win-commandicon icon-cog-4"></span>
                        </button>
                        <span>@user.User_Username</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--顶条结束-->
    @RenderBody()

    <!--低条-->
    <div class="navbar navbar-fixed-bottom navbar-buttom">
        <div class="navbar-inner nav-buttom">
            <div class="nav-list-buttom">
                <a class="brand">VM Manager</a>
                <ul class="nav">
                    <li><a href="#">关于</a></li>
                    <li><a href="#">帮助</a></li>
                    <li><a href="#">代码</a></li>
                </ul>
            </div>
            <div id="nav-about">
                &copy;2015 版权所有
            </div>
        </div>
    </div>
    <!--低条结束-->
</body>
</html>
