<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Machines>
    <VMMachine>
      <Address>10.2.53.10</Address>
      <Username>base\hyperv</Username>
      <Password>demo12!@</Password>
    </VMMachine>
    <VMMachine>
      <Address>10.2.67.10</Address>
      <Username>base\hyperv</Username>
      <Password>demo12!@</Password>
    </VMMachine>
  </Machines>
</Config>