@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.basic.cshtml";
}
<script src="~/Static/Js/System.js"></script>
<div class="win-commandlayout">
    <a class="win-command nav-page-top" href="#">
        <span class="win-commandicon win-commandring  icon-arrow-left-12"></span>
        <span class="win-label">上一页</span>
    </a>

    <hr class="win-command nav-page-top" />
    <div class="command-list">
        <button class="win-command Active-Command">
            <span class="win-commandicon win-commandring icon-play"></span>
            <span class="win-label">开机</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring  icon-stop"></span>
            <span class="win-label">关机</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-reload"></span>
            <span class="win-label">备份</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-reload"></span>
            <span class="win-label">还原</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-plus-5"></span>
            <span class="win-label">创建</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-close"></span>
            <span class="win-label">删除</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring  icon-cog-2"></span>
            <span class="win-label">设置</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-eye-4"></span>
            <span class="win-label">详细</span>
        </button>
    </div>

    <a class="win-command nav-page-buttom" href="#">
        <span class="win-commandicon win-commandring icon-arrow-right-11"></span>
        <span class="win-label">下一页</span>
    </a>
    <hr class="win-command nav-page-buttom" />
</div>

<div class="table-bordered">
    <img src="~/Static/Images/loading.gif" />
</div>