@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.basic.cshtml";
}

<div class="win-commandlayout">
    <a class="win-command nav-page-top" href="#">
        <span class="win-commandicon win-commandring  icon-arrow-left-12"></span>
        <span class="win-label">上一页</span>
    </a>

    <hr class="win-command nav-page-top" />
    <div class="command-list">
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-play"></span>
            <span class="win-label">开机</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring  icon-stop"></span>
            <span class="win-label">关机</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-reload"></span>
            <span class="win-label">备份</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-reload"></span>
            <span class="win-label">还原</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-plus-5"></span>
            <span class="win-label">创建</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-close"></span>
            <span class="win-label">删除</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring  icon-cog-2"></span>
            <span class="win-label">设置</span>
        </button>
        <button class="win-command">
            <span class="win-commandicon win-commandring icon-eye-4"></span>
            <span class="win-label">详细</span>
        </button>
    </div>
   
    <a class="win-command nav-page-buttom" href="#">
        <span class="win-commandicon win-commandring icon-arrow-right-11"></span>
        <span class="win-label">下一页</span>
    </a>
    <hr class="win-command nav-page-buttom" />
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="align-center">选择</th>
            <th class="align-center">序号</th>
            <th class="align-center">名称</th>
            <th class="align-center">系统</th>
            <th class="align-center">创建时间</th>
            <th class="align-center">上次操作时间</th>
            <th class="align-center">状态</th>
            <th class="align-center">备注</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= 8; i++)
        {
            <tr>
                <td class="align-center">
                    <label class="checkbox">
                        <input type="checkbox"><span class="metro-checkbox"></span>
                    </label>
                </td>
                <td class="align-center">@i</td>
                <td class="align-center">VM2015110709029988</td>
                <td class="align-center">Windows 10</td>
                <td class="align-center">2015-11-07 09:03</td>
                <td class="align-center">2015-11-07 09:03</td>
                <td class="align-center">开机</td>
                <td class="align-center"></td>
            </tr>
        }
    </tbody>
</table>