<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Machines>
    <VMMachine>
      <Address>10.2.61.62</Address>
      <Username>vsphere.local\administrator</Username>
      <Password>1qaz2wsx#EDC</Password>
    </VMMachine>
    <!--<VMMachine>
      <Address>10.2.67.10</Address>
      <Username>base\hyperv</Username>
      <Password>demo12!@</Password>
    </VMMachine>-->
  </Machines>
</Config>